body {
    background-color: pink;
    font-family: 'Times New Roman', Times, serif;
  }


  h1 {
    color: rgb(28, 28, 28);
    text-align: center;
    border-style:dashed ;
    background-color: beige;
  }

  #result {
    margin-top: 20px;
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  